<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Shows.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E770CD21D9DA0CA004423DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E770CE61D9DA0CB004423DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E770CF11D9DA0CB004423DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
